<h2 id="tableLabel"><i class="fa fa-desktop briefcase-colour"></i> Software Titles</h2>
<button class="btn btn-success" [routerLink]="['/add-software']">Add Software Title</button>
<br />
<br />
<p *ngIf="!softwares"><em>Loading...</em></p>
<app-show-errors [errors]="errorMsg"></app-show-errors>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete software title</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">No</button>
    <button type="button" (click)="confirmDeleteSoftware()" class="btn btn-success">Yes</button>
  </div>
</ng-template>


<div class="">
  <table *ngIf="softwares" class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let software of softwares">
        <td>{{ software.name }}</td>
        <td><button (click)="editSoftware(software.id)" class="btn btn-outline-success">Edit</button></td>
        <td><button (click)="deleteSoftware(template, software.id)" class="btn btn-outline-success">Delete..</button></td>
      </tr>
    </tbody>
  </table>
</div>
<br />
