<h1 id="tableLabel">Assign staff to case: {{ caseId }}</h1>


<br />

<p *ngIf="!users"><em>Loading...</em></p>


<table *ngIf="users" class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Assigned</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td><button (click)="assignEmployee(user.userInfo.userId)">Assign</button></td>
      <td>{{ user.userInfo.firstName }} {{ user.userInfo.lastName }}</td>
      <!--<td><button class="" [routerLink]="['/case-display/' + case.id]">EDIT2</button></td>-->
      <td *ngIf="assignedUsers.includes(user.userInfo.userId)">Assigned</td>
      <td *ngIf="!assignedUsers.includes(user.userInfo.userId)"></td>
    </tr>
  </tbody>
</table>

<br />
<form #assignForm="ngForm" (ngSubmit)="submitAssignedStaff(assignForm)">
  <button type="submit">Submit</button>
</form>
