<header>
  <nav
    class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
        
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">TrackIT</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-md-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">


        <app-login-menu></app-login-menu>

        <ul class="navbar-nav flex-grow" *ngIf="isAuthenticated | async">

          <li *ngIf="(userRole | async)?.includes('admin')" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Manage App">
              Admin
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" [routerLink]='["/view-employees"]' (click)="collapse()">Manage employees</a>
              <a class="dropdown-item" [routerLink]='["/view-software"]' (click)="collapse()">Manage Software Titles</a>
              <a class="dropdown-item" [routerLink]='["/view-skills"]' (click)="collapse()">Manage Skills</a>
            </div>
          </li>

          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']" (click)="collapse()">Home</a>
          </li>

          <li class="nav-item dropdown" *ngIf="(userRole | async)?.includes('employee')" [routerLinkActive]="['link-active']">
            <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Support staff case list">
              Support Cases
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" [routerLink]='["/cases-list-support"]' (click)="collapse()">View Cases</a>
            </div>
          </li>

          <li class="nav-item dropdown" *ngIf="isAuthenticated | async" [routerLinkActive]="['link-active']">
            <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Manage cases reported by you">
              Your Cases
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]='["/cases-list"]' (click)="collapse()">View Cases</a>
              <a class="dropdown-item" [routerLink]='["/case-add"]' (click)="collapse()">Raise Case</a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
