<h3 id="tableLabel" *ngIf="(userRole | async)?.includes('manager')">Support Cases - Manager View</h3>
<h3 id="tableLabel" *ngIf="!(userRole | async)?.includes('manager')">Support Cases - Developer View (restricted)</h3>

<form #searchForm="ngForm" (ngSubmit)="onSubmitSearch(searchForm)" class="width200 float-right" title="search through cases">
  <div class="input-group">
    <label for="inputSearch"></label>
    <input type="text" class="form-control" id="searchString"
           name="searchString" placeholder="Search"
           [(ngModel)]="searchModel.searchString" #searchString="ngModel" />
    <div class="input-group-prepend">
      <button [disabled]="!searchForm.valid" type="submit" class="btn btn-sm btn-success">SEARCH</button>
    </div>
  </div>
</form>
<br /><br /><br />
<div class="clearfix">
  <div class="selectSize float-left">
    <label for="chooseCaseFilter"></label>
    <select id="chooseCaseFilter" name="chooseCaseFilter" [(ngModel)]="caseFilter" (ngModelChange)="chooseCaseFilter($event)" class="form-control">
      <option value="1">Active Cases</option>
      <option value="0">All Cases</option>
    </select>
  </div>
  <div *ngIf="softwares" class="selectSize float-left">
    <label for="chooseCaseFilter2"></label>
    <select id="chooseCaseFilter2" name="chooseCaseFilter2" [(ngModel)]="softwareFilter" (ngModelChange)="chooseCaseFilter($event)" class="form-control">
      <option *ngFor="let software of softwares" [value]="software.id">{{ software.name }}</option>
    </select>
  </div>
  <div class="selectSize float-left">
    <label for="chooseCaseFilter3"></label>
    <select id="chooseCaseFilter3" name="chooseCaseFilter3" [(ngModel)]="typeFilter" (ngModelChange)="chooseCaseFilter($event)" class="form-control">
      <option value="0">All Types</option>
      <option value="1">Bug</option>
      <option value="2">Question</option>
      <option value="3">Issue</option>
      <option value="4">Feature Request</option>
    </select>
  </div>
</div>

<p *ngIf="!cases"><em>Loading...</em></p>
<app-show-errors [errors]="errorMsg"></app-show-errors>

<div *ngIf="cases">
  <br />
  <app-pagination [pageIndex]="pageIndex" [totalPages]="cases.totalPages" [pagesBefore]="pagesBefore"
                  [pagesAfter]="pagesAfter" (pageChanged)="pageChangedHandler($event)">
  </app-pagination>
  
  <div class="tableOverflow Container1 FlippedNo">
    <table class='table table-stripedNo table-hover Content1' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th (click)="sortCase('case')" class="highlight" [class.text-success]="sortProperty=='case'">Case</th>
          <th>Software</th>
          <th (click)="sortCase('dateOpened')" class="highlight" [class.text-success]="sortProperty=='dateOpened'">Date Opened</th>
          <th>Subject</th>
          <th>Type</th>
          <th (click)="sortCase('user')" class="highlight"[class.text-success]="sortProperty=='user'">Created by</th>
          <th (click)="sortCase('contact')" class="highlight" [class.text-success]="sortProperty=='contact'">Contact</th>
          <th (click)="sortCase('urgency')" class="highlight" [class.text-success]="sortProperty=='urgency'">Urgency</th>
          <th (click)="sortCase('deadline')" class="highlight" [class.text-success]="sortProperty=='deadline'">Deadline</th>
          <th (click)="sortCase('status')" class="highlight" [class.text-success]="sortProperty=='status'">Status</th>
          <th *ngIf="caseFilter != 1">Date Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let case of cases.cases" (click)="editCase(case.id)" class="lineHover">
          <td><button (click)="editCase(case.id)" class="btn btn-sm btn-outline-secondary">{{ case.id }}</button></td>
          <td class="max-widthSoftware ">{{ case.software.name }}</td>
          <td class="min-widthDates">{{ case.dateOpened | date: 'dd-MMM-yy' }}</td>
          <td class="tdWidth">{{ case.title }}</td>
          <td>{{ casesService.types[case.type-1] }}</td>
          <td>{{ case.userInfo.firstName }} {{ case.userInfo.lastName }}</td>
          <td>{{ case.contactInfo.firstName }} {{ case.contactInfo.lastName }}</td>
          <td>{{ casesService.urgencyLevels[case.urgencyLevel-1] }}</td>
          <td class="min-widthDates">{{ case.deadline | date: 'dd-MMM-yy' }}</td>
          <td>{{ casesService.statusNames[case.status-1] }}</td>
          <td *ngIf="caseFilter != 1" class="min-widthDates">{{ case.dateCompleted | date: 'dd-MMM-yy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <app-pagination [pageIndex]="pageIndex" [totalPages]="cases.totalPages" [pagesBefore]="pagesBefore"
                  [pagesAfter]="pagesAfter" (pageChanged)="pageChangedHandler($event)">
  </app-pagination>
  <br />
</div>
