<h4 id="tableLabel" *ngIf="(userRole | async)?.includes('manager')"><i class="fa fa-briefcase briefcase-colour"></i> Support Cases - Manager View (all cases)</h4>
<h4 id="tableLabel" *ngIf="!(userRole | async)?.includes('manager')"><i class="fa fa-briefcase briefcase-colour"></i> Support Cases - Developer View (your cases only)</h4>

<form #searchForm="ngForm" (ngSubmit)="onSubmitSearch(searchForm)" class="width200 float-right" title="search through cases">
  <div class="input-group">
    <label for="inputSearch"></label>
    <input type="text" class="form-control" id="searchString"
           name="searchString" placeholder="Search"
           [(ngModel)]="searchModel.searchString" #searchString="ngModel" />
    <div class="input-group-prepend">
      <button [disabled]="!searchForm.valid" type="submit" class="btn btn-sm btn-success">SEARCH</button>
    </div>
  </div>
</form>
<br /><br /><br />
<div class="clearfix">
  <div class="selectSize float-left">
    <label for="chooseCaseFilter"></label>
    <select id="chooseCaseFilter" name="chooseCaseFilter" [(ngModel)]="caseFilter" (ngModelChange)="chooseCaseFilter($event)" class="form-control">
      <option value="1">Active Cases</option>
      <option value="0">All Cases</option>
    </select>
  </div>
  <div *ngIf="softwares" class="selectSize float-left">
    <label for="chooseCaseFilter2"></label>
    <select id="chooseCaseFilter2" name="chooseCaseFilter2" [(ngModel)]="softwareFilter" (ngModelChange)="chooseCaseFilter($event)" class="form-control">
      <option *ngFor="let software of softwares" [value]="software.id">{{ software.name }}</option>
    </select>
  </div>
  <div class="selectSize float-left">
    <label for="chooseCaseFilter3"></label>
    <select id="chooseCaseFilter3" name="chooseCaseFilter3" [(ngModel)]="typeFilter" (ngModelChange)="chooseCaseFilter($event)" class="form-control">
      <option value="0">All Types</option>
      <option value="1">{{ casesService.types[1-1] }}</option>
      <option value="2">{{ casesService.types[2-1] }}</option>
      <option value="3">{{ casesService.types[3-1] }}</option>
      <option value="4">{{ casesService.types[4-1] }}</option>
    </select>
  </div>
</div>

<p *ngIf="!cases"><em>Loading...</em></p>
<app-show-errors [errors]="errorMsg"></app-show-errors>

<div *ngIf="cases">
  <br />
  <app-pagination [pageIndex]="pageIndex" [totalPages]="cases.totalPages" [pagesBefore]="pagesBefore"
                  [pagesAfter]="pagesAfter" (pageChanged)="pageChangedHandler($event)">
  </app-pagination>

  <div *ngIf="cases.cases.length > 0" class="">
    <table class='table table-hover table-stripedNo table-responsive table-light black-border font85' aria-labelledby="tableLabel">
      <thead class="green-heading">
        <tr>
          <th (click)="sortCase('case')" class="highlight" [class.selected]="sortProperty=='case'">Case</th>
          <th>Software</th>
          <th (click)="sortCase('dateOpened')" class="highlight" [class.selected]="sortProperty=='dateOpened'">Opened</th>
          <th>Subject</th>
          <th>Type</th>
          <th (click)="sortCase('user')" class="highlight widthReduceNoWrap" [class.selected]="sortProperty=='user'">Created by</th>
          <th (click)="sortCase('contact')" class="highlight" [class.selected]="sortProperty=='contact'">Contact</th>
          <th (click)="sortCase('urgency')" class="highlight" [class.selected]="sortProperty=='urgency'">Urgency</th>
          <th (click)="sortCase('deadline')" class="highlight" [class.selected]="sortProperty=='deadline'">Deadline</th>
          <th (click)="sortCase('status')" class="highlight" [class.selected]="sortProperty=='status'">Status</th>
          <th *ngIf="caseFilter != 1">Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let case of cases.cases" (click)="editCase(case.id)" class="mousePointer">
          <td><button (click)="editCase(case.id)" class="btn btn-sm btn-outline-secondary">{{ case.id }}</button></td>
          <td class="max-widthSoftware ">{{ case.software.name }}</td>
          <td class="widthReduceNoWrap">{{ case.dateOpened | date: 'dd-MMM-yy' }}</td>
          <td><div class="shortMessage2">{{ case.title }}</div></td>
          <td>{{ casesService.types[case.type-1] }}</td>
          <td>{{ case.userInfo.firstName }} {{ case.userInfo.lastName }}</td>
          <td>{{ case.contactInfo.firstName }} {{ case.contactInfo.lastName }}</td>
          <td>{{ casesService.urgencyLevels[case.urgencyLevel-1] }}</td>
          <td class="widthReduceNoWrap">{{ case.deadline | date: 'dd-MMM-yy' }}</td>
          <td>{{ casesService.statusNames[case.status-1] }}</td>
          <td *ngIf="caseFilter != 1" class="widthReduceNoWrap">{{ case.dateCompleted | date: 'dd-MMM-yy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="cases.cases.length == 0" class="font-weight-bold lead">No cases found</p>
  
  <app-pagination [pageIndex]="pageIndex" [totalPages]="cases.totalPages" [pagesBefore]="pagesBefore"
                  [pagesAfter]="pagesAfter" (pageChanged)="pageChangedHandler($event)">
  </app-pagination>
  <br />
</div>
