<div *ngIf="files">

  <app-show-errors [errors]="errorMsg"></app-show-errors>

  <div *ngIf="!openFileUpload">
    <button class="btn btn-success" (click)="openFileUploadBox()">Upload file</button>
    <br />
  </div>

  <div *ngIf="openFileUpload">

    <form #fileUploadForm="ngForm" (ngSubmit)="uploadFile(fileUploadForm)">

      <div class="form-group">
        <label for="inputDescription">File Description</label>
        <input type="text" class="form-control max-width500" id="fileDescription"
               name="fileDescription" placeholder="Enter a description" minlength="2" required
               [(ngModel)]="fileModel.description" #description="ngModel" />
        <small *ngIf="description.errors?.required && (description.dirty || description.touched)" class="text-danger">File description is required</small>
        <small *ngIf="description.errors?.minlength" class="text-danger">Description name must be at least 2 characters long.</small>
      </div>

      <div class="form-group">
        <div class="input-group max-width500">
          <div class="custom-file">
            <input name="menuFile" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="chooseFile($event.target.files)">
            <label id="fileName" class="custom-file-label" for="inputGroupFile01">{{ file?.file?.name || "Choose file" }}</label>
          </div>
        </div>
      </div>

      <div class="input-group">
        <button [disabled]="!fileUploadForm.valid" type="submit" class="btn btn-success">Upload</button>
        <button type="button" class="btn btn-success ml-3" (click)="cancelUpload()">Cancel</button>
      </div>

    </form>

  </div>

  <br />

  <div *ngIf="files.length!=0" class="">
    <h4 class="highlightHover" title="show/hide files" (click)="toggleShowFiles()"><b><i class="fa fa-copy briefcase-colour"></i> FILES ({{files.length}}) <b >{{ showHide }} </b></b></h4>
    <div *ngIf="showFiles">
      <table class='table table-bordered table-sm' aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th></th>
            <th>Uploaded</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files.reverse()">
            <td class="widthDownload">
                <a href="{{ file.url }}" target="_blank" (click)="downloadFile()" class="btn btn-sm btn-outline-success">View/Download</a> 
             </td>
            <td class="widthDatesTime">{{ file.timeStamp  | date: 'dd-MMM-yy HH:mm' }}</td>
            <td class="shortMessage">{{ file.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
