<div>
  <h1 class="text-center">TrackIT</h1>
  <br />
  <p class="text-center text-monospace">A simple but powerful tool to keep track of all your software issues</p>
  <br />
  <br />
  <div class="text-center">
    <img class="home-pic" src="/assets/images/TrackIT-green3.PNG" alt="TrackIT screenshot of issues list" />
  </div>
  <br />
  <br />
  <br />
  <p class="text-center text-monospace">Just add your software titles and support staff to allow them to easily deal with all the issues</p>
  <br />
  <br />
  <div class="text-center">
    <a href="mailto: richb999@tiscali.co.uk" class="btn btn-success">Contact me</a>
  </div>
  <br />
</div>
