.mouseHover:hover {
  cursor: pointer;
  color: blue;
}

.deadline {
  width: 260px;
  margin-left: -15px;
}

/*input[type="text"], textarea {
  background-color: #DDFFEF;
}*/

.highlight:hover {
  color: blue;
  cursor: pointer;
}
