.mouseHover:hover {
  cursor: pointer;
  color: blue;
}

.deadline {
  width: 260px;
  margin-left: -15px;
}

/*input[type="text"], textarea {
  background-color: #DDFFEF;
}*/

.highlight:hover {
  color: blue;
  cursor: pointer;
}

.blueLine:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Needs to be within a span when used in table headers*/
.verticalHeading {
  writing-mode: vertical-lr;
}

.assignButton {
  width: 72px;
}

.widthReduceNoWrap {
  width: 1%;
  white-space: nowrap
}

.widthReduce {
  width: 1%;
}



/* Make tables have a fixed first column*/

.freeze {
  position: sticky;
}

tr:nth-child(even) .freeze {
  background: white;
}

tr:nth-child(odd) .freeze {
  background: #ECEFF1; /* Bootstrap default colour */
}

.freezeH {
  position: sticky;
  background: green;
}

.col1 {
  left: 1px;
}
.col2 {left: 143px;} /* Not used */
.col3 {left: 220px;}/* Not used */

.green-heading {
  color: white;
  background-color: green;
}

.black-border {
  border: 1px solid gray;
}

.font85 {
  font-size: 85%;
}

/*-----------------------------------------------------------------------------------*/

