<h3 id="tableLabel" *ngIf="(userRole | async)?.includes('manager')"><i class="fa fa-briefcase briefcase-colour"></i> Case - Manager View</h3>
<h3 id="tableLabel" *ngIf="!(userRole | async)?.includes('manager')"><i class="fa fa-briefcase briefcase-colour"></i> Case - Developer View (restricted)</h3>

<p *ngIf="!case"><em>Loading...case details</em></p>
<app-show-errors [errors]="errorMsg"></app-show-errors>

<div *ngIf="case">

  <br />
  <a class="" [routerLink]="['/cases-list-support']">Back to Case List</a>
  <br />
  <hr />
  <div>
    <div class="row">
      <div class="col">Case</div>
      <div class="col">Status</div>
    </div>
    <div class="row">
      <div class="col"><b>{{ case.id }}</b></div>
      <div class="col"><b>{{ casesService.statusNames[case.status-1] }}</b></div>
    </div>
    <br />
    <div class="row">
      <div class="col">Software</div>
      <div class="col">Date/Time Opened</div>
    </div>
    <div class="row">
      <div class="col"><b>{{ case.software.name }}</b></div>
      <div class="col"><b>{{ case.dateOpened | date: 'dd-MMM-yy HH:mm' }}</b></div>
    </div>
    <br />
    <div class="row">
      <div class="col">Type</div>
      <div class="col">Created by</div>
    </div>
    <div class="row">
      <div class="col"><b>{{ casesService.types[case.type-1] }}</b></div>
      <div class="col"><b>{{ case.userInfo.firstName }} {{ case.userInfo.lastName }} - {{ case.contactInfo.email }}</b></div>
    </div>
    <br />
    <div class="row">
      <div class="col">Urgency</div>
      <div class="col">Contact</div>
    </div>
    <div class="row">
      <div class="col"><b>{{ casesService.urgencyLevels[case.urgencyLevel-1] }}</b></div>
      <div class="col"><b>{{ case.contactInfo.firstName }} {{ case.contactInfo.lastName }} - {{ case.contactInfo.email }}</b></div>
    </div>
    <br />

    <!--Bug/Issue/Feature only (not question)-->
    <div *ngIf="(case.type !=2)">
      <div class="row">
        <div class="col" title="Managers only">Deadline Date</div>
        <div class="col" *ngIf="(isUserDeveloper || isUserContact)">Date of Fix Approval Request</div>
      </div>

      <div class="row">
        <div *ngIf="case.deadline || !(userRole | async)?.includes('manager')" class="col"><b>{{ (case.deadline | date: 'dd-MMM-yy') || "Not yet set" }}</b></div>
        <div *ngIf="(userRole | async)?.includes('manager') && !case.deadline" class="col">
          <!--or change this to col-6 and drop the class below-->
          <form #setDeadlineForm="ngForm" (ngSubmit)="onSubmitDeadline(setDeadlineForm)" class="col deadline">
            <div class="input-group">
              <input type="date" class="form-control" id="deadline"
                     name="deadline" placeholder="Deadline" required
                     [(ngModel)]="deadlineModel.deadline" #deadline="ngModel" />
              <div class="input-group-prepend">
                <button [disabled]="!setDeadlineForm.valid" type="submit" class="btn btn-sm btn-success">OK</button>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="!case.dateAwaitApproval && (isUserDeveloper || isUserContact)" class="col"><button (click)="submitFix()" class="btn btn-sm btn-outline-success">Request Fix Approval</button></div>
        <div *ngIf="case.dateAwaitApproval && (isUserDeveloper || isUserContact)" class="col"><b>{{ (case.dateAwaitApproval | date: 'dd-MMM-yy HH:mm') }}</b></div>
      </div>
    </div>
    <br />

    <div *ngIf="(case.type != 2) && (isUserDeveloper || isUserContact)">
      <div class="row">
        <div class="col" title="managers only">Date Fix Approved</div>
        <div class="col">Date Fix Applied</div>
      </div>
      <div class="row">
        <div *ngIf="(userRole | async)?.includes('manager') && case.dateAwaitApproval && !case.dateApproved" class="col"><button (click)="submitFixApproval()" class="btn btn-sm btn-outline-success">Approve Fix</button></div>
        <div *ngIf="(case.dateApproved || !case.dateAwaitApproval) || !(userRole | async)?.includes('manager')" class="col"><b>{{ (case.dateApproved | date: 'dd-MMM-yy HH:mm') || "N/A" }}</b></div>
        <div *ngIf="case.dateApproved && !case.dateApplied" class="col"><button (click)="submitFixApplied()" class="btn btn-sm btn-outline-success">Applied Fix</button></div>
        <div *ngIf="case.dateApplied || !case.dateApproved" class="col"><b>{{ (case.dateApplied | date: 'dd-MMM-yy HH:mm') || "N/A" }}</b></div>
      </div>
      <br />
    </div>
    <!--Bug/Issue/Feature only (not question)-->

    <div class="row">
      <div class="col">Date Case Assigned</div>
      <div class="col">Date Completed</div>
    </div>
    <div class="row">
      <div class="col"><b>{{ (case.dateAssigned | date: 'dd-MMM-yy HH:mm') || "Not set yet (or no contact)" }}</b></div>
      <div class="col"><b>{{ (case.dateCompleted | date: 'dd-MMM-yy HH:mm') || "Not completed" }}</b></div>
    </div>
    <br />

    <div class="row">
      <div *ngIf="isUserDeveloper || isUserContact" class="col mouseHover" (click)="showEstHoursForm()" title="Set estimated hours">Estimated hours required</div>
      <div *ngIf="!isUserDeveloper && !isUserContact" class="col" title="Set by assigned staff only">Estimated hours required</div>
      <div *ngIf="isUserDeveloper || isUserContact" class="col mouseHover" (click)="showHoursSpentForm()" title="Set actual hours">Hours spent</div>
      <div *ngIf="!isUserDeveloper && !isUserContact" class="col" title="Set by assigned staff only">Hours spent</div>
    </div>
    <div class="row">

      <div *ngIf="!estHoursEntry" class="col"><b>{{ case.estimatedTimeHours || "Not set yet"}}</b></div>
      <div *ngIf="estHoursEntry" class="col">
        <form #estHoursForm="ngForm" (ngSubmit)="onSubmitEstHours(estHoursForm)">
          <div class="input-group col-9 col-sm-4">
            <input type="number" class="form-control" id="estHours"
                   name="estHours" placeholder="Hours" min="0" max="999" required
                   [(ngModel)]="estHoursModel.estimatedTimeHours" #estimatedTimeHours="ngModel" />
            <div class="input-group-prepend">
              <button [disabled]="!estHoursForm.valid" type="submit" class="btn btn-sm btn-success">OK</button>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="!hoursSpentEntry" class="col"><b>{{ case.timeSpentHours || "Not set yet" }}</b></div>
      <div *ngIf="hoursSpentEntry" class="col">
        <form #hoursSpentForm="ngForm" (ngSubmit)="onSubmitHoursSpent(hoursSpentForm)">
          <div class="input-group col-9 col-sm-4">
            <input type="number" class="form-control" id="hoursSpent"
                   name="hoursSpent" placeholder="Hours" min="0" max="999" required
                   [(ngModel)]="hoursSpentModel.timeSpentHours" #timeSpentHours="ngModel" />
            <div class="input-group-prepend">
              <button [disabled]="!hoursSpentForm.valid" type="submit" class="btn btn-sm btn-success">OK</button>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div>









  <br />
  <hr />

  <div>Subject</div>
  <div><b>{{ case.title }}</b></div>
  <br />
  <div>Description</div>
  <div><b>{{ case.description }}</b></div>
  <br />

  <div class="row">
    <div *ngIf="(isUserDeveloper || isUserContact) && (case.type == 2)" class="col">
      <form #completeForm="ngForm" (ngSubmit)="onSubmitComplete(completeForm)">
        <button *ngIf="case.status != 7" type="submit" class="btn btn-success">Consider Complete</button>
        <button *ngIf="case.status == 7" type="submit" class="btn btn-success">Re-Open Case</button>
      </form>
    </div>
    <div *ngIf="isUserDeveloper || isUserContact" class="col">
      <form #awaitCustForm="ngForm" (ngSubmit)="onSubmitAwaitCust(awaitCustForm)">
        <button *ngIf="case.status == 2" type="submit" class="btn btn-success">Set as Await Customer</button>
        <button *ngIf="case.status == 3" type="submit" class="btn btn-success">Set as Await Us</button>
      </form>
    </div>
  </div>
  <br />
  <div class="row">
    <div *ngIf="(isUserDeveloper || isUserContact) && (case.type !=2)" class="col">
      <form #onHoldForm="ngForm" (ngSubmit)="onSubmitOnHold(onHoldForm)">
        <button *ngIf="case.status <= 3" type="submit" class="btn btn-success">Put case on hold</button>
        <button *ngIf="case.status == 4" type="submit" class="btn btn-success">Release from hold</button>
      </form>
    </div>
  </div>

  <div *ngIf="(isUserDeveloper || isUserContact)">
    <br /><br /><br />
    <app-view-messages [caseId]="case.id" [caseUserId]="case.userId" [isEmployee]=true
                       (getErrors)="messageErrorHandler($event)">
    </app-view-messages>
    <br />
    <app-upload-files [caseId]="case.id" (getErrors)="messageErrorHandler($event)"></app-upload-files>
    <br />
  </div>

  <hr />
  <h4><i class="fa fa-user-plus briefcase-colour"></i> Staff Assignment</h4>

  <div>Contact Assigned</div>
  <div *ngIf="!case.contactId"><b>No contact</b></div>
  <div *ngIf="!assignStaffFlag && case.contactId"><b>{{ case.contactInfo.firstName }} {{ case.contactInfo.lastName }}</b></div>
  <div *ngIf="assignStaffFlag && case.contactId" class="text-info"><i>{{ case.contactInfo.firstName }} {{ case.contactInfo.lastName }} (Not submitted yet)</i></div>
  <br />
  <div>Developers Assigned</div>
  <div *ngIf="assignedStaff.length==0 && !assignStaffFlag"><b>No developers</b></div>
  <div *ngIf="assignedStaff.length==0 && assignStaffFlag" class="text-info">No developers</div>

  <div>
    <div *ngFor="let employee of assignedStaffNames">
      <div *ngIf="!assignStaffFlag"><b>{{ employee }}</b></div>
      <div *ngIf="assignStaffFlag" class="text-info"><i>{{ employee }} (Not submitted yet)</i></div>
    </div>
  </div>

  <br />
  <div *ngIf="(userRole | async)?.includes('manager') && !assignStaffFlag">
    <button *ngIf="!case.dateAssigned" (click)="showAssignEmployeeSection(case.id)" class="btn btn-success">Assign staff</button>
    <button *ngIf="case.dateAssigned" (click)="showAssignEmployeeSection(case.id)" class="btn btn-success">Adjust assigned staff</button>
  </div>
  <br />




  <div *ngIf="assignStaffFlag">
    <p *ngIf="!usersP || !users || !usersWithSkills || !allSkillsHeadings"><em>Loading...</em></p>
    <div *ngIf="usersP && users && usersWithSkills && allSkillsHeadings">
      <form #assignForm="ngForm" (ngSubmit)="submitAssignedStaff(assignForm)">
        <button type="submit" class="btn btn-info mb-3 float-left">Submit staff</button>
      </form>

      <div *ngIf="skills" class="float-left mb-2 ml-5">
        <!--<label for="chooseSkillFilter"></label>-->
        <select id="chooseSkillFilter" name="chooseSkillFilter" [(ngModel)]="skillFilter" (ngModelChange)="chooseSkillFilter($event)"
                class="form-control" title="filter by skill">
          <option value="0">All Skills</option>
          <option *ngFor="let skill of skills" [value]="skill.id">{{ skill.name }}</option>
        </select>
      </div>

      <div *ngIf="skills" class="float-left ml-5">
        <!--<label for="chooseSkillTypeFilter"></label>-->
        <select id="chooseSkillTypeFilter" name="chooseSkillTypeFilter" [(ngModel)]="skillTypeFilter" (ngModelChange)="showHideType($event)"
                class="form-control" title="reduce headings by skill types">
          <option value="0">All Skill Types</option>
          <option value="1">Langauges</option>
          <option value="2">Frameworks/Libraries</option>
          <option value="3">Other</option>
        </select>
      </div>


      <div class="clearfix"></div>
      <br />
      <app-pagination [pageIndex]="pageIndex" [totalPages]="usersP.totalPages" [pagesBefore]="pagesBefore"
                      [pagesAfter]="pagesAfter" (pageChanged)="pageChangedHandler($event)">
      </app-pagination>
      
      <div class="">
        <div class="">
          <table class='table table-sm table-striped table-responsive table-light black-border font85' aria-labelledby="tableLabel">
            <thead>
              <tr class="green-heading">
                <th class="pl-2 highlight freezeH col1" (click)="sortEmployees('name')">Name</th>
                <th class=""></th>
                <th></th>
                <th *ngFor="let item of usersWithSkills[0].skills | keyvalue" class="">
                  <!-- have to use usersWithSkills[0] so it's in the same order as the data -->
                  <span class="verticalHeading">{{ item.key }}</span><!--*ngIf='allSkillsHeadings.includes(item.key)'-->
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersWithSkills">
                <!-- the 6 keys below that are included in the above end up being in the table -->
                <td class="pl-2 widthReduceNoWrap pr-3 freeze col1" [class.text-danger]="user.id == case.contactId"
                    [class.text-success]="assignedStaff.includes(user.id)"
                    [class.font-weight-bold]="assignedStaff.includes(user.id) && user.id == case.contactId">
                  {{ user.firstName }} {{ user.lastName }} <span *ngIf="user.id == case.contactId"> (c)</span>
                </td>
                <td class="widthReduce pr-3"  *ngIf="!assignedStaff.includes(user.id)">
                  <button (click)="assignEmployee(user.id)" class="btn btn-sm btn-outline-success assignButton">Assign</button>
                </td>
                <td class="widthReduce pr-3" *ngIf="assignedStaff.includes(user.id)">
                  <button (click)="assignEmployee(user.id)" class="btn btn-sm btn-outline-success assignButton">Unassign</button>
                </td>
                <td class="widthReduceNoWrap pr-3">
                  <button (click)="assignContact(user.id, user.firstName, user.lastName, user.email, user.userName)"
                          class="btn btn-sm btn-outline-success">
                    Set Contact
                  </button>
                </td>
                <td *ngFor="let skill of user.skills | keyvalue">{{ skill.value }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <p *ngIf="usersWithSkills.length == 0">No employees meet the criteria</p>
        <p *ngIf="usersWithSkills.length != 0">1 = Excellent, 2 = Good, 3 = Beginner</p>
      </div>
      <br />
      <app-pagination [pageIndex]="pageIndex" [totalPages]="usersP.totalPages" [pagesBefore]="pagesBefore"
                      [pagesAfter]="pagesAfter" (pageChanged)="pageChangedHandler($event)">
      </app-pagination>
    </div>
    <br />
  </div>
</div>
