.selectSize {
  max-width: 220px;
  min-width: 220px;
  margin-bottom: 20px;
  margin-top: -35px;
  margin-right: 8px;
}

.highlight:hover {
  color: blue;
  cursor: pointer;
}

.lineHover:hover {
  cursor: pointer;
}

.width200 {
  width: 200px;
}

.table td, .table th {
  border-bottom: 1px solid #dee2e6; /* line at bottom of table - looks neater I think */
}
