<h1 id="tableLabel">Your Cases</h1>

<button class="btn btn-primary" [routerLink]="['/case-add']">Raise Case</button>
<br /><br />

<p *ngIf="!cases"><em>Loading...</em></p>


<table *ngIf="cases" class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Case</th>
      <th>Date opened</th>
      <th>Software</th>
      <th>Subject</th>
      <th>Type</th>
      <th>Created by</th>
      <th>Contact</th>
      <th>Status</th>
      <th>Urgency</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let case of cases">
      <td><button (click)="editCase(case.id)" class="btn btn-outline-secondary">{{ case.id }}</button></td>
      <td class="min-width110">{{ case.dateOpened | date: 'dd-MMM-yy' }}</td>
      <td>{{ case.software.name }}</td>
      <td class="min-width300 max-width300">{{ case.title }}</td>
      <td>{{ casesService.types[case.type-1] }}</td>
      <td>{{ case.userInfo.firstName }} {{ case.userInfo.lastName }}</td>
      <td>{{ case.contactInfo.firstName }} {{ case.contactInfo.lastName }}</td>
      <td>{{ casesService.statusNames[case.status-1] }}</td>
      <td>{{ casesService.urgencyLevels[case.urgencyLevel-1] }}</td>
      <!--<td><button class="" [routerLink]="['/case-display/' + case.id]">EDIT2</button></td>-->
    </tr>
  </tbody>
</table>
