<h2 id="tableLabel"><i class="fa fa-tools briefcase-colour"></i> Skills</h2>
<button class="btn btn-success" [routerLink]="['/add-skill']">Add a new Skill</button>
<br />
<br />
<p *ngIf="!skills"><em>Loading...</em></p>
<app-show-errors [errors]="errorMsg"></app-show-errors>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete skill</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure?</p>
    <p>Employees with this skill will lose it.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">No</button>
    <button type="button" (click)="confirmDeleteSkill()" class="btn btn-success">Yes</button>
  </div>
</ng-template>

<div *ngIf="skills">
  <br />
  <div class="tableOverflow">
    <table class='table table-striped table-sm' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th (click)="sortSkills('id')" class="highlight">Id</th>
          <th (click)="sortSkills('name')" class="highlight">Name</th>
          <th (click)="sortSkills('type')" class="highlight">Type</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skill of skills">
          <td>{{ skill.id }}</td>
          <td>{{ skill.name }}</td>
          <td>{{ casesService.skillTypes[skill.type-1] }}</td>
          <td><button (click)="editSkill(skill.id)" class="btn btn-sm btn-outline-success">Edit</button></td>
          <td><button (click)="deleteSkill(template, skill.id)" class="btn btn-sm btn-outline-success">Delete..</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
