
.assignButton {
  width: 72px;
}

/* Writing mode needs to be within a span when used in table headers*/
.verticalHeading {
  writing-mode: vertical-lr;
}

/* Make tables have a fixed first column and a subtle shadow on column 1 */

thead .freezeH {
  box-shadow: 1px 0 5px -2px white; /* to create a subtle shadow on right side of freeze column*/
}

tbody .freeze {
  box-shadow: 3px 0 5px -5px #888; /* to create a subtle shadow on right side of freeze column*/
}

.freeze {
  position: sticky;
}

/* Stripes - hiding first column means this has to be manual */
tr:nth-child(even) .freeze {
  background: white;
}

tr:nth-child(odd) .freeze {
  background: #ECEFF1; /* Bootstrap default 2nd stripe colour */
}

.freezeH {
  position: sticky;
  background: green;
}

.col1 {
  left: 0px;
}


/* Added to avoid strange differences on header (particularly Firefox) - copied from the Inspector in Firefox - no side effects */
.table-light tbody + tbody, .table-light td, .table-light th, .table-light thead th {
  border: 0px
}

