<hr />

<h4><i class="fa fa-user-plus briefcase-colour"></i> Staff Assignment</h4>

<div>Contact Assigned</div>
<div *ngIf="!case.contactId"><b>No contact</b></div>
<div *ngIf="!assignStaffFlag && case.contactId"><b>{{ case.contactInfo.firstName }} {{ case.contactInfo.lastName }}</b></div>
<div *ngIf="assignStaffFlag && case.contactId" class="text-info"><i>{{ case.contactInfo.firstName }} {{ case.contactInfo.lastName }} (Not submitted yet)</i></div>
<br />
<div>Developers Assigned</div>
<div *ngIf="assignedStaff.length==0 && !assignStaffFlag"><b>No developers</b></div>
<div *ngIf="assignedStaff.length==0 && assignStaffFlag" class="text-info">No developers</div>

<div>
  <div *ngFor="let employee of assignedStaffNames">
    <div *ngIf="!assignStaffFlag"><b>{{ employee }}</b></div>
    <div *ngIf="assignStaffFlag" class="text-info"><i>{{ employee }} (Not submitted yet)</i></div>
  </div>
</div>

<br />
<div *ngIf="(userRole | async)?.includes('manager') && !assignStaffFlag">
  <p *ngIf="deadlineToSetMessage" class="text-danger">Please enter a deadline before assigning staff</p>
  <button *ngIf="!case.dateAssigned" (click)="showAssignEmployeeSection(case.id)" class="btn btn-success">Assign staff</button>
  <button *ngIf="case.dateAssigned" (click)="showAssignEmployeeSection(case.id)" class="btn btn-success">Adjust assigned staff</button>
</div>
<br />




<div *ngIf="assignStaffFlag">
  <p *ngIf="!usersP || !users || !usersWithSkills || !allSkillsHeadings"><em>Loading...</em></p>
  <div *ngIf="usersP && users && usersWithSkills && allSkillsHeadings">
    <form #assignForm="ngForm" (ngSubmit)="submitAssignedStaff(assignForm)">
      <button type="submit" class="btn btn-info mb-3 float-left">Submit staff</button>
    </form>
    <button type="button" class="btn btn-info mb-3 float-left ml-3" (click)="cancelStaffAssignment()">Cancel</button>
    <div class="clearfix"></div>
    <div *ngIf="skills" class="float-left mb-2 mr-5">
      <!--<label for="chooseSkillTypeFilter"></label>-->
      <select id="chooseSkillTypeFilter" name="chooseSkillTypeFilter" [(ngModel)]="skillTypeFilter" (ngModelChange)="showHideType($event)"
              class="form-control" title="reduce headings by skill types">
        <option value="0">All Skill Types</option>
        <option value="1">{{ casesService.skillTypes[1-1] }}</option>
        <option value="2">{{ casesService.skillTypes[2-1] }}</option>
        <option value="3">{{ casesService.skillTypes[3-1] }}</option>
      </select>
    </div>

    <div *ngIf="skills" class="float-left mb-2 mr-5">
      <!--<label for="chooseSkillFilter"></label>-->
      <select id="chooseSkillFilter" name="chooseSkillFilter" [(ngModel)]="skillFilter" (ngModelChange)="chooseSkillFilter($event)"
              class="form-control" title="filter by skill">
        <option value="0">All Skills</option>
        <option *ngFor="let skill of skills" [value]="skill.id">{{ skill.name }}</option>
      </select>
    </div>

    <form #skillSearchForm="ngForm" class="float-left mb-2 mr-5">
      <div class="input-group">
        <label for="skillSearch"></label>
        <input type="search" class="form-control" id="skillSearch" (ngModelChange)="onKeySearch(skillSearchForm)"
               name="skillSearch" placeholder="Skill Search" title="alternative skill filter by search"
               [(ngModel)]="searchModel.skillSearch" #skillSearch="ngModel" />
        <div class="input-group-prepend">
          <button type="reset" class="btn btn-sm btn-success" title="reset search">RESET</button>
        </div>
      </div>
    </form>



    <div class="clearfix"></div>
    <br />
    <app-pagination [pageIndex]="pageIndex" [totalPages]="usersP.totalPages" [pagesBefore]="pagesBefore"
                    [pagesAfter]="pagesAfter" (pageChanged)="pageChangedHandler($event)">
    </app-pagination>

    <div class="">
      <div *ngIf="usersWithSkills.length > 0" class="">
        <table class='table table-sm table-striped table-responsive table-light black-border font85' aria-labelledby="tableLabel">
          <thead>
            <tr class="green-heading">
              <th class="pl-2 highlight freezeH col1" (click)="sortEmployees('name')">Name</th>
              <th class=""></th>
              <th></th>
              <th *ngFor="let item of usersWithSkills[0].skills | keyvalue" class="">
                <!-- have to use usersWithSkills[0] so it's in the same order as the data -->
                <span class="verticalHeading">{{ item.key }}</span><!--*ngIf='allSkillsHeadings.includes(item.key)'-->
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usersWithSkills">
              <td class="pl-2 widthReduceNoWrap pr-3 freeze col1" [class.text-danger]="user.id == case.contactId"
                  [class.text-success]="assignedStaff.includes(user.id)"
                  [class.font-weight-bold]="assignedStaff.includes(user.id) && user.id == case.contactId">
                {{ user.firstName }} {{ user.lastName }} <span *ngIf="user.id == case.contactId"> (c)</span>
              </td>
              <td class="widthReduce pr-3" *ngIf="!assignedStaff.includes(user.id)">
                <button (click)="assignEmployee(user.id)" class="btn btn-sm btn-outline-success assignButton">Assign</button>
              </td>
              <td class="widthReduce pr-3" *ngIf="assignedStaff.includes(user.id)">
                <button (click)="assignEmployee(user.id)" class="btn btn-sm btn-outline-success assignButton">Unassign</button>
              </td>
              <td class="widthReduceNoWrap pr-3">
                <button (click)="assignContact(user.id, user.firstName, user.lastName, user.email, user.userName)"
                        class="btn btn-sm btn-outline-success">
                  Set Contact
                </button>
              </td>
              <td *ngFor="let skill of user.skills | keyvalue">{{ skill.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p *ngIf="usersWithSkills.length == 0" class="text-danger">No employees meet the criteria</p>
      <p *ngIf="usersWithSkills.length != 0">1 = Excellent, 2 = Good, 3 = Beginner</p>
    </div>
    <br />
    <app-pagination [pageIndex]="pageIndex" [totalPages]="usersP.totalPages" [pagesBefore]="pagesBefore"
                    [pagesAfter]="pagesAfter" (pageChanged)="pageChangedHandler($event)">
    </app-pagination>
  </div>
  <br />
</div>
