<h2><i class="fa fa-desktop briefcase-colour"></i> Add new software title</h2>

<app-show-errors [errors]="errorMsg"></app-show-errors>

<form #softwareForm="ngForm" (ngSubmit)="onSubmit(softwareForm)">

  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="text" class="form-control" id="title"
           [ngClass]="(name.invalid && (name.dirty || name.touched))?'text-danger is-invalid':''"
           placeholder="Enter Title" name="name" minlength="2" required
           [(ngModel)]="softwareModel.name" #name="ngModel">
    <small *ngIf="name.errors?.required && (name.dirty || name.touched)" class="text-danger">Title is required</small>
    <small *ngIf="name.errors?.minlength" class="text-danger">Title must be at least 2 characters long.</small>
  </div>
  <br />
  <button [disabled]="!softwareForm.valid" type="submit" class="btn btn-success col-md-12">Submit</button>

</form>
