<h1 id="tableLabel">Case</h1>
<br />
<p *ngIf="!case"><em>Loading...case details</em></p>
<app-show-errors [errors]="errorMsg"></app-show-errors>

<div *ngIf="case">

  <a class="" [routerLink]="['/cases-list']">Back to Case List</a>
  <br />
  <app-show-errors [errors]="errorMsg"></app-show-errors>
  <br />
  <hr />
  <div>
    <div class="row">
      <div class="col">Case</div>
      <div class="col">Status</div>
    </div>
    <div class="row">
      <div class="col"><b>{{ case.id }}</b></div>
      <div class="col"><b>{{ casesService.statusNames[case.status-1] }}</b></div>
    </div>
    <br />
    <div class="row">
      <div class="col">Software</div>
      <div class="col">Date/Time Opened</div>
    </div>
    <div class="row">
      <div class="col"><b>{{ case.software.name }}</b></div>
      <div class="col"><b>{{ case.dateOpened | date: 'dd-MMM-yy HH:mm' }}</b></div>
    </div>
    <br />
    <div class="row">
      <div class="col">Type</div>
      <div class="col">Created by</div>
    </div>
    <div class="row">
      <div class="col"><b>{{ casesService.types[case.type-1] }}</b></div>
      <div class="col"><b>{{ case.userInfo.firstName }} {{ case.userInfo.lastName }}</b></div>
    </div>
    <br />
    <div class="row">
      <div class="col">Urgency</div>
      <div class="col">Contact</div>
    </div>
    <div class="row">
      <div class="col"><b>{{ casesService.urgencyLevels[case.urgencyLevel-1] }}</b></div>
      <div class="col"><b>{{ case.contactInfo.firstName }} {{ case.contactInfo.lastName }} - {{ case.contactInfo.email }}</b></div>
    </div>
  </div>

  <br />
  <hr />

  <div>Subject</div>
  <div><b>{{ case.title }}</b></div>
  <br />
  <div>Description</div>
  <div><b>{{ case.description }}</b></div>
  <br /><br />

  <br />
  <app-view-messages [caseId]="case.id" [caseUserId]="case.userId" [isEmployee]=false (getErrors)="messageErrorHandler($event)"></app-view-messages>
  <br />
  <!--<div *ngIf="!openFileUpload">
    <button  class="btn btn-success" (click)="openFileUploadBox()">Upload file</button>
    <br />
  </div>

  <div *ngIf="openFileUpload">

    <form #fileUploadForm="ngForm" (ngSubmit)="uploadFile(fileUploadForm)">

      <div class="form-group">
        <label for="inputDescription">File Description</label>
        <input type="text" class="form-control max-width500" id="fileDescription"
               name="fileDescription" placeholder="Enter a description" minlength="2" required
               [(ngModel)]="fileModel.description" #description="ngModel" />
        <small *ngIf="description.errors?.required && (description.dirty || description.touched)" class="text-danger">File description is required</small>
        <small *ngIf="description.errors?.minlength" class="text-danger">Description name must be at least 2 characters long.</small>
      </div>

      <div class="form-group">
        <div class="input-group max-width500">
          <div class="custom-file">
            <input name="menuFile" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="chooseFile($event.target.files)">
            <label id="fileName" class="custom-file-label" for="inputGroupFile01">{{ file?.file?.name || "Choose file" }}</label>
          </div>
        </div>
      </div>

      <div class="input-group">
        <button [disabled]="!fileUploadForm.valid" type="submit" class="btn btn-success">Upload</button>
        <button type="button" class="btn btn-success ml-3" (click)="cancelUpload()">Cancel</button>
      </div>

    </form>

  </div>

  <br />

  <div *ngIf="files.length!=0" class="">
    <h4><b>FILES ({{files.length}})</b></h4>
    <table class='table table-bordered table-sm' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th></th>
          <th>Uploaded</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td class="widthDownload"><a href="{{ file.url }}" target="_blank" (click)="downloadFile()" class="btn btn-sm btn-outline-success">View/Download</a> </td>
          <td class="widthDatesTime">{{ file.timeStamp  | date: 'dd-MMM-yy HH:mm' }}</td>
          <td class="shortMessage">{{ file.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>-->

  <app-upload-files [caseId]="case.id" (getErrors)="messageErrorHandler($event)"></app-upload-files>

</div>
<br />
