<nav *ngIf="totalPages > 1" aria-label="...">
  <ul class="pagination pagination-sm">
    <li *ngIf="pageIndex == 1" class="page-item disabled">
      <a class="page-link" tabindex="-1">Previous</a>
    </li>
    <li *ngIf="pageIndex != 1" class="page-item">
      <a class="page-link mousePointer" (click)="goToPage(pageIndex-1)">Previous</a>
    </li>

    <li *ngFor="let page of pagesBefore" class="page-item"><a class="page-link mousePointer" (click)="goToPage(page)">{{ page }}</a></li>

    <li class="page-item active">
      <a class="page-link mousePointer" (click)="goToPage(pageIndex)">{{ pageIndex }}<span class="sr-only">(current)</span></a>
    </li>

    <li *ngFor="let page of pagesAfter" class="page-item mousePointer"><a class="page-link" (click)="goToPage(page)">{{ page }}</a></li>

    <li *ngIf="pageIndex == totalPages" class="page-item disabled">
      <a class="page-link">Next</a>
    </li>
    <li *ngIf="pageIndex != totalPages" class="page-item">
      <a class="page-link mousePointer" (click)="goToPage(pageIndex+1)">Next</a>
    </li>
  </ul>
</nav>
